@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Telegram:wght@400;700&display=swap');

.bg-white{
    background-color: white;
}
.row{
    display: flex;
    flex-direction: row;
}
.formTitle{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900 !important;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
p {
    font-family: 'Telegraf', sans-serif;
}
.AcceptanceofTerms-container > * {
    flex: 1;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.checkbox-container{
    display: flex;
}
.checkbox-container input[type="checkbox"] {
    margin-right: 0.5rem;
    // appearance: none;
    // border-radius:50%;
}
.AcceptanceofTermsText{
    font-size: 0.5rem;
    line-height: 0.8rem;
}
.submit-block {
    margin-top: 2rem;
    height: 3rem
}
.mainSubmitButton {
    background-color: black;
    color: white;
    width: 85%;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;           
}
.mainSubmitButtonTxt {
    margin-left: 2.25rem
}
.mainSubmitButtonSvg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    width: 3rem;
    margin-right: 0.25rem;        
}
.submitButton {
    background-color: black;
    color: white;
    width: 45%;
    margin: 0.5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    font-family: 'Telegraf', sans-serif;
}
.submit-block {
    display: flex;
    flex-direction: row;
}
.alert-msg {
    font-size: 0.75rem;
    line-height: 1rem;
    /* padding-top: 0.15rem;
    padding-bottom: 0.15rem; */
    color: red;
  }
.formBlockLayout{
    max-width: 1000px;
    min-width: 250px;
    background-color: white;
    border-radius: 14px;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    display: flex;
    flex-direction: column;
}
.formBlockContent{
    display: flex;
    flex-direction: column;
}
.formBlockContent > .submitButton{
    margin-top: 1.75rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.blackPlaceholder::placeholder {
    color: black;
}
.formBlock.row {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}

.formBlock.row > div {
  flex: 1;
  box-sizing: border-box;
}
.scroll-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
@media screen and (max-width: 450px) {
    .mainSubmitButtonTxt {
        margin-left: 2.15rem;
    }
    .formTitle{
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900 !important;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    // .formBlockLayout{
    //     padding-bottom: 1.5rem;
    // }
  }